name: Build and Deploy

on:
  workflow_dispatch: 

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUCKET: ${{ vars.S3_BUCKET }}
      Instance: ${{ vars.TOMCAT_HOST }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Build Application
      run: make build

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.OIDC_ARN }} 
        region: eu-west-1

    - name: Deploy to Tomcat
      run: make deploy s3_bucket=${{ env.BUCKET }} instance_id=${{ env.Instance }}
